<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
        <key>author</key>
		<string>martin brinkmann</string>
		<key>description</key>
        <string>makes drone sounds from enviromental noise and adds clicks and glitches. use touch screen to change pitch, shake for new tones, twist and tilt for filter and fx. droneplay1 is copyrighted, but is free for you to use for any reasonable purpose.</string>
		<key>name</key>
		<string>droneplay1</string>
		<key>category</key>
		<string>test</string>
	</dict>
    <key>installLocation</key>
	<string>droneplay1.rj</string>
</dict>
</plist>
